source_env_if_exists .env
env_vars_required ESP32_WIFI_SSID ESP32_WIFI_PASS POST_ENDPOINT_IP POST_ENDPOINT_PORT

source_env_if_exists ~/.cargo/env
source_env_if_exists ~/export-esp.sh

use nix -p cargo-espflash


